*{
    margin: 0%;
    padding: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap');

h1{
    background-color: blue;
    color: #444;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    padding: 20px;
}

.gallery-container{
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    gap: 15px; 
}

.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.gallery-item{
    position: relative;
}

.gallery-title{
    position: absolute;
    bottom: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.656);
    width: 100%;
    padding: 5px 0;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

@media  (max-width:450px) {
    .gallery-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: 220px;
    }

    h1{
        font-size: 22px;
    }

    .gallery-title{
        font-size: 18px;
    }
    
    .gallery-item{
        grid-column: span 1;
        grid-row: span 1;
    }

}

@media (min-width:451pix) and (max-width:960px) {
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 220px;
    }
    .gallery-item{
        grid-column: span 1;
        grid-row: span 1;
    }
    .img-9{
        grid-column:span 2;
    }

    h1{
        font-size: 22px;
    }
    .gallery-title{
        font-size: 22px;
    }
    
}
























